#app {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #app {
        display: grid;
        grid-template-columns: 3fr 9fr;
        grid-template-rows: 1fr;
    }
}

#main {
    display: flex;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 32px;
    padding: 16px;
}