#app {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #app {
        display: grid;
        grid-template-columns: 3fr 9fr;
        grid-template-rows: 1fr;
    }
}