:root {
    --background-primary: #19183a;
    --background-accent: #12122c;
    --linear: linear-gradient(115deg,
            var(--background-primary) 0%,
            var(--background-accent) 100%);

    --body-primary: black;
    --body-accent: black;

    --black-rgb: 0, 0, 0;
    --white: #dadada;
    --primary: #39D5E1;
    --secondary: #E13939;
}