:root {
    --background-primary: #f2f3ff;
    --background-accent: #e7e8ff;
    --linear: linear-gradient(115deg,
            var(--background-primary) 0%,
            var(--background-accent) 100%);

    --body-primary: #ffffff;
    --body-accent: #ffffff;

    --black-rgb: 255, 255, 255;
    --white: black;
    --primary: #39D5E1;
    --secondary: #E13939;
}