<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove trailing slash if its there and continue to the next rule
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L]

    # Redirect /login to /login.html
    RewriteRule ^login$ login.html [QSA,END]

    # Redirect /register to /register.html
    RewriteRule ^register$ register.html [QSA,END]

    # Redirect /api/* to /api/*.php
    RewriteRule ^api/(.*)$ api/routes/$1.php [QSA,END]

    # Redirect /... to /index.html?page=...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/pages/
    RewriteRule ^(.*)$ index.php?$1 [QSA,END]
</IfModule>