h1,
.h1 {
    font-weight: 200;
    font-size: 28px;
}

h2,
.h2 {
    font-weight: 400;
    font-size: 20px;
}

h3,
.h3 {
    font-weight: 800;
    font-size: 14px;
}

p,
.p {
    font-weight: 400;
    font-size: 12px;
}