@media screen and (max-width: 768px) {

    h1,
    .h1 {
        font-size: 22px;
    }

    h2,
    .h2 {
        font-size: 18px;
    }

    h3,
    .h3 {
        font-size: 11px;
    }

    p,
    .p {
        font-size: 10px;
    }
}