.input {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    background: rgba(var(--black-rgb), 0.3) !important;
    box-shadow: inset 0px 8px 8px rgba(var(--black-rgb), 0.25);
    border-radius: 8px;
}

.input,
.input>* {
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: var(--white);
}