textarea {
    max-height: 100px;
    padding: 8px;
    border-radius: 8px;

    background-color: rgba(var(--black-rgb), 0.3);
    color: var(--white);

    resize: none;
    border: none;
    outline: none;
}