.feed-post>.header {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.feed-post>.header>img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.feed-post>.header>.info a {
    color: var(--text-color);
}

.feed-post>.header>.info .names {
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
}

.feed-post>.header>.info>.tag-buttons>button {
    padding: 2px 12px;
    border-radius: 4px;
}

.feed-post>.content img:nth-child(2),
.feed-post>.content video:nth-child(2),
.feed-post>.content audio:nth-child(2) {
    max-width: min(100%, 500px);
    max-height: 350px;
    border-radius: 16px;
    display: block;
}

.feed-post>.content img:nth-child(n+3) {
    margin-top: 8px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.feed-post>.content>* {
    margin-bottom: 8px;
}

.feed-post>.footer {
    display: flex;
    gap: 32px;
    margin-top: 8px;
    margin-left: 16px;
}

.feed-post>.footer>div {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
}

.feed-post>.footer>div:hover {
    opacity: 1;
}

.feed-post>.footer>div>img {
    width: 16px;
    height: 16px;
}

.feed-post>.footer>.hidden {
    display: none;
}

.feed-post.tag-0 {
    display: var(--filter-0);
}

.feed-post.tag-1 {
    display: var(--filter-1);
}

.feed-post.tag-2 {
    display: var(--filter-2);
}

.feed-post.tag-3 {
    display: var(--filter-3);
}

.feed-post.tag-4 {
    display: var(--filter-4);
}

.feed-post.tag-5 {
    display: var(--filter-5);
}

.feed-post.tag-6 {
    display: var(--filter-6);
}

.feed-post.tag-7 {
    display: var(--filter-7);
}

.feed-post.tag-8 {
    display: var(--filter-8);
}

.feed-post.tag-9 {
    display: var(--filter-9);
}