.tag-buttons {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: flex-start;
}

.tag-buttons>button.reset {
    background-color: var(--background-primary);
}

.tag-buttons>button {
    background-color: hsla(calc(var(--id) * 36), 74%, 55%, 0.4);
    opacity: 0.5;
}

.tag-buttons>button:hover {
    opacity: 0.75;
}

.tag-buttons>button.active {
    opacity: 1;
}

.tag-buttons>button>p {
    white-space: nowrap;
}